<!doctype html>

<html lang="{{ .Idioma }}">
    <head>
        <title>SimpleAmazon</title>
        <meta name="description" content="Simple and anonymous frontend for Amazon Search">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta charset="UTF-8">
    </head>

    <body dir="auto">
        <div class="contenedor">
            <h2><a class="tituloInicio" href="/">SimpleAmazon</a></h2>
            <h5>A simple frontend for searching Amazon</h5>

            {{ template "formulario" . }}
            {{ template "contenido" . }}
        </div>

        <br>
        <a href="https://github.com/darlopvil/SimpleAmazon-fork">Source Code</a>
        <span class="creditos">— a fork of <a href="https://codeberg.org/SimpleWeb/SimpleAmazon">SimpleWeb/SimpleAmazon</a>, archived in 2023</span>
    </body>
</html>
