{{ define "formulario" }}
            <form action="/s" method="POST">
                <select name="s" id="s">
                    {{ $seleccionado := .Sort }}
                    {{ range opcionesOrden }}
                        <option value="{{ .Valor }}"{{ if eq .Valor $seleccionado }} selected{{ end }}>{{ .Etiqueta }}</option>
                    {{ end }}
                </select>
                <input size="35" style="max-width: 100%" type="text" name="k" id="k" placeholder="Amazon Search" value="{{ .Query }}"/>
                <input size="5" type="text" name="tld" id="tld" placeholder="com" value="{{ .TLD }}"/>
                <button type="submit">Search</button>
            </form>
{{ end }}
