{{ define "paginacion" }}
            {{ if (gt .Pages 1) }}
                {{ if (gt .Page 1) }}
                    <a href="/s?tld={{ .TLD }}&k={{ .Query }}&s={{ .Sort }}&page={{ substract .Page 1 }}">Previous</a>
                    <b> | </b>
                {{ end }}
                Page {{ .Page }} of {{ .Pages }}
                {{ if (lt .Page .Pages) }}
                    <b> | </b>
                    <a href="/s?tld={{ .TLD }}&k={{ .Query }}&s={{ .Sort }}&page={{ add .Page 1 }}">Next</a>
                {{ end }}
            {{ end }}
{{ end }}
