{{ define "contenido" }}
            {{ template "paginacion" . }}
            {{ if (gt .Pages 1)}}<hr>{{ end }}

            <table style="max-width: 800px">
            {{ range .Results }}
                <tr>
                    <td>{{ if .ImageURL }}<a href="{{ .ImageURL }}"><img src="{{ .ImageURL }}"></a>{{ end }}</td>
                    <td valign="top">
                        <span class="article-title"><a href="{{ .URL }}" target="_blank" rel="noopener">{{ .Title }}</a></span>
                        <br>

                        {{ if .Ratings }}
                            <span>{{ .Ratings }} | {{ .Reviews }} Review(s)</span>
                            <br>
                        {{ end }}

                        {{ if .Type }}
                            <span>Typ: {{ .Type }}</span>
                            <br>
                        {{ end }}

                        {{ if .Price }}
                            <span class="price">{{ .Price }}</span>
                            {{ if .PrecioTachado }}
                                <span class="precioTachado">{{ .PrecioTachado }}</span>
                            {{ end }}
                            {{ if .Condicion }}
                                <br>
                                <span class="condicion">{{ .Condicion }}</span>
                            {{ end }}
                        {{ else }}
                            <span>Precio no disponible</span>
                        {{ end }}

                        {{ if .LimitedSupply }}
                            <br>
                            <span class="limitedSupply">{{ .LimitedSupply }}</span>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
            </table>

            {{ if (gt .Pages 1)}}<hr>{{ end }}
            {{ template "paginacion" . }}
{{ end }}
