{{ define "contenido" }}
            <h1>The page you are trying to access can't yet be processed by SimpleAmazon</h1>
            <p><b>You can check if the handling for this is already being worked on, or maybe you want to submit an issue to request it yourself on the <a href="https://github.com/darlopvil/SimpleAmazon-fork">project repository</a>.</b></p>

            <p>This is a frontend for searching Amazon that lets you look up products on the marketplace of your choice, without JavaScript and without being tracked by Amazon itself.</p>
            <p>All images on this site are proxied so you don't have to ping amazon yourself, but the results all redirect to amazon itself because product pages aren't implement yet.</p>
{{ end }}
